#btn_list
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.img
{
    width: 100px;
}
#infomation_product
{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#product
{
    max-width: 350px;
    width: 100%;
    height: auto;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0px;
}